@page

<div class="row justify-content-md-center">
    <div class="col-8 p-5">

        <h3>Bem-vindo à Hamburgueria dos Guima's Burguer!</h3>
        <p>
            Há mais de uma década, temos o orgulho de servir os melhores hambúrgueres do Brasil. A nossa jornada começou com a paixão por comida deliciosa e o compromisso de proporcionar experiências incríveis aos nossos clientes. Desde então, nossa missão tem sido a mesma: criar hambúrgueres que fazem você sorrir.
        </p>

        <h5>
            A Nossa História
        </h5>
        <p>
            <img class="img-fluid float-end p-3" src="/images/quem-somos.png"
                 style="max-width: 40%" />
            Fundada em 2005, a Guima's Burguers começou como um modesto food truck, com uma visão ambiciosa de reinventar o clássico hambúrguer. Com dedicação, criatividade e a escolha dos ingredientes mais frescos, construímos uma reputação sólida que nos tornou uma referência quando se trata de hambúrgueres excepcionais.
        </p>
        <h5>
            A Nossa Filosofia
        </h5> 
        <p>
            Na Guima's Burguers, acreditamos que um grande hambúrguer vai além da carne e do pão. Valorizamos a qualidade, a inovação e o sabor. Utilizamos apenas carne premium, vegetais frescos e molhos artesanais para criar uma explosão de sabores em cada mordida. Estamos comprometidos em garantir que cada refeição seja uma experiência única e memorável.
        </p>
        <h5>
            O Nosso Compromisso
        </h5> 
        <p>
            A nossa paixão não se limita apenas à comida deliciosa. Também estamos empenhados em causas sociais e ambientais. Trabalhamos para minimizar nosso impacto no meio ambiente e apoiar a comunidade local. Acreditamos que, juntos, podemos fazer a diferença.
        </p>
        <h5>
            Explore o Nosso Menu
        </h5> 
        <p>
            Dê uma olhada em nosso menu diversificado, repleto de hambúrgueres criativos, opções vegetarianas e acompanhamentos irresistíveis. Combinamos sabores tradicionais com toques modernos para agradar a todos os paladares.
        </p>
        <h5>
            Contate-nos
        </h5> 
        <p>A sua opinião é importante para nós. Se você tiver alguma dúvida, feedback ou solicitação especial, não hesite em entrar em contato. Estamos sempre aqui para atendê-lo.</p>
        <p>Obrigado por escolher [Nome da Sua Empresa]. Esperamos recebê-lo em breve para uma experiência gastronômica única e saborosa. Junte-se a nós nesta jornada de sabor e qualidade que dura há mais de uma década.</p>
    </div>
</div>

