@page
@{
    ViewData["Title"] = "Política de Privacidade";
}
<div class="row justify-content-md-center">
    <div class="col-8 p-5">

        <h3>Política de Privacidade da Guima's Burguer</h3>
        <p><strong>Última atualização:</strong> @DateTime.Now</p>

        <p>A sua privacidade é importante para nós na [Nome da Sua Empresa]. Nós valorizamos a confiança que você deposita em nós ao compartilhar informações pessoais e estamos empenhados em proteger esses dados. Esta Política de Privacidade descreve como coletamos, usamos e protegemos as informações que você fornece quando utiliza os nossos serviços.</p>

        <h4>Coleta de Informações Pessoais</h4>
        <p>Coletamos informações pessoais quando você interage conosco, seja ao fazer pedidos, registrar uma conta, participar de promoções ou ao entrar em contato conosco. As informações pessoais que podemos coletar incluem, mas não se limitam a:</p>
        <ul>
            <li>Nome</li>
            <li>Endereço de e-mail</li>
            <li>Número de telefone</li>
            <li>Endereço de entrega</li>
            <li>Informações de pagamento</li>
        </ul>

        <h4>Uso de Informações Pessoais</h4>
        <p>As informações pessoais que coletamos são usadas para:</p>
        <ul>
            <li>Processar pedidos e fornecer os produtos ou serviços solicitados.</li>
            <li>Manter a sua conta e histórico de pedidos.</li>
            <li>Comunicar informações relevantes, como atualizações de pedidos ou ofertas especiais.</li>
            <li>Melhorar a qualidade dos nossos produtos e serviços.</li>
            <li>Cumprir obrigações legais ou regulamentares.</li>
        </ul>

        <h4>Proteção de Dados Pessoais</h4>
        <p>Estamos comprometidos em proteger as suas informações pessoais. Adotamos medidas de segurança adequadas para proteger contra a perda, o uso indevido, o acesso não autorizado e a divulgação de informações pessoais. Utilizamos tecnologias de criptografia e procedimentos rigorosos para garantir a segurança dos dados.</p>

        <h4>Compartilhamento de Informações Pessoais</h4>
        <p>Nós não vendemos, alugamos ou compartilhamos as suas informações pessoais com terceiros para fins de marketing. No entanto, podemos compartilhar informações com:</p>
        <ul>
            <li>Parceiros de negócios que auxiliam na entrega de produtos ou serviços.</li>
            <li>Autoridades governamentais, quando exigido por lei.</li>
            <li>Terceiros em casos de fusões, aquisições ou venda de ativos da empresa.</li>
        </ul>

        <h4>Seus Direitos</h4>
        <p>Você tem o direito de acessar, corrigir ou excluir as suas informações pessoais a qualquer momento. Além disso, você pode optar por não receber comunicações de marketing a qualquer momento.</p>

        <h4>Menores de Idade</h4>
        <p>Os nossos serviços não se destinam a menores de 13 anos. Não coletamos intencionalmente informações de menores de idade. Se você acredita que coletamos informações de uma criança, entre em contato para que possamos tomar as medidas adequadas.</p>

        <h4>Alterações na Política de Privacidade</h4>
        <p>Reservamos o direito de atualizar esta Política de Privacidade periodicamente. Quaisquer alterações serão publicadas nesta página, com uma data de atualização correspondente.</p>

        <h4>Entre em Contato Conosco</h4>
        <p>Se você tiver dúvidas ou preocupações sobre esta Política de Privacidade ou o tratamento das suas informações pessoais, entre em contato conosco através das informações de contato fornecidas no nosso site.</p>

        <p>Agradecemos por escolher a [Nome da Sua Empresa]. Estamos comprometidos em proteger a sua privacidade e em proporcionar uma experiência segura e satisfatória em todos os aspectos dos nossos serviços.</p>

    </div>
</div>
